@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}

.container{
    width: 900px;
    height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0,0);
}


.container-form{
    width: 100%;
    overflow: hidden;
}

.container-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.container-form h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.container-form span{
    font-size: 12px;
    margin-bottom: 15px;
}

.container-input{
    width: 300px;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.container-input input{
    border: none;
    outline: none;
    width:100%;
    height:100%;
    background-color: inherit;
}

a{
    font-size: 14px;
    margin: 10px 0 20px 0;
    color: black;
    text-decoration: none;
}

.button{
    width: 170px;
    height: 45px;
    border: none;
    color: white;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover{
    background-color: #333;
}


.form-registro{
    transform: translateX(-100%);
}



.container.toggle .form-iniciar{
    transform: translateX(100%);
}

.container.toggle .form-registro{
    transform: translateX(0);
}



.container-bienvenido{
    background-color: #00bcd4;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    border-radius: 50% 10% 50% 10%;
    
    

}

.container-bienvenido .bienvenido{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 50px;
    color: white;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    
}

.bienvenido-form-registro{
    transform: translateX(100%);
}


.container.toggle .container-bienvenido{
    transform: translateX(-100%);
    background-color: #333;
}

.container.toggle .bienvenido{
    transform: translateX(100%);
}

.container.toggle .bienvenido-form-registro{
    transform: translateX(0);
}

.container-bienvenido h3{
    font-size: 40px;
}

.container-bienvenido p{
    font-size: 14px;
}

.container-bienvenido .button{
    border: 2px solid white;
    background-color: transparent;
}
